<div class="cont">
    <app-header></app-header>

    <div class="cont2">
        <div class="card" >
           <a href="estreias">
            <img class="card-img-top img" src="./assets/img/estreias.png" alt="Imagem de capa do card">
          </a>
          </div>
          <div class="card" >
            <a href="titas">
            <img class="card-img-top img" src="./assets/img/titans.jpg" alt="Imagem de capa do card">
            </a>
          </div>

          <div class="card1" >
            <a href="maisVistos">
            <img class="card-img-top img1" src="./assets/img/maisvistos.png" alt="Mais vistos">
            </a>
          </div>
          <div class="card1" >
            <a href="spacejam">
            <img class="card-img-top img1" src="./assets/img/spacejam.jpg" alt="Space Jam">
            </a>
          </div>
          <div class="card1" >
            <a href="f9">
            <img class="card-img-top img1" src="./assets/img/f9.jpg" alt="Velozes e furiosos 9">
            </a>
          </div>
          <div class="card1" >
            <a href="barracadobeijo">
            <img class="card-img-top img1" src="./assets/img/barraca.jpg" alt="Imagem de capa do card">
            </a>
          </div>
          <div class="card1" >
            <a href="suicidesquade">
            <img class="card-img-top img1" src="./assets/img/ss.png" alt="Imagem de capa do card">
            </a>
          </div>

    </div>
</div>
