<div class="cont">
    <app-header></app-header>

    <div class="cont2">
        <div class="card" >
            <img class="card-img-top img" src="./assets/img/estreias.png" alt="Imagem de capa do card">
          </div>
          <div class="card" >
            <img class="card-img-top img" src="./assets/img/titans.jpg" alt="Imagem de capa do card">
          </div>

          <div class="card1" >
            <img class="card-img-top img1" src="./assets/img/maisvistos.png" alt="Imagem de capa do card">
          </div>
          <div class="card1" >
            <img class="card-img-top img1" src="./assets/img/spacejam.jpg" alt="Imagem de capa do card">
          </div>
          <div class="card1" >
            <img class="card-img-top img1" src="./assets/img/f9.jpg" alt="Imagem de capa do card">
          </div>
          <div class="card1" >
            <img class="card-img-top img1" src="./assets/img/barraca.jpg" alt="Imagem de capa do card">
          </div>
          <div class="card1" >
            <img class="card-img-top img1" src="./assets/img/ss.png" alt="Imagem de capa do card">
          </div>

    </div>
</div>
