<div class="container-principal">
    <div class="div-imagem">
        <img class="card-img-top img" src="./assets/img/f9banner.jpg" alt="velozes e furiosos 9">
    </div>
    <div class=" card div-especificacoes">

        <div class="card-body">
            <div class="title">
                <h1 class="card-title">Velozes e Furiosos 9</h1>
                <h1 class="card-title1">
                    <fa-icon [icon]="faStar"></fa-icon>
                    5.8
                </h1>
            </div>

            <div class="textos">
                <p class="card-text">tt10430813</p>
                <p class="card-text">Também conhecido como: F9</p>
            </div>
            <div class="tipo">
                <button type="button" class="btn btn-outline-warning">Ação</button>
                <button type="button" class="btn btn-outline-warning">Aventura</button>
                <button type="button" class="btn btn-outline-warning">Crime</button> 
                <button type="button" class="btn btn-outline-warning">Suspense</button> 
               
         
            </div>


            <div class="descricao">
                <div class="desc">
                    <p class="card-text1">País: EUA</p>
                    <p class="card-text1">Duração: 143min</p>
                    <p class="card-text1">Faixa etária: 14(BR)</p>
                </div>

                <div class="desc">
                    <p class="card-text">Idioma: Ingles</p>
                    <p class="card-text">Lançamento: 24-06-2021 (BR)</p>
                    <p class="card-text">Diretor:Justin Lin</p>
                </div>

            </div>
            <p class="card-text1"> Elenco: Vin Diesel,  Samantha Vincent, Jeff Kirschenbaum, Clayton Townsend, Joe Roth, Neal H. Moritz</p>


            <nav>
                <ul>
                    <li class="dica">
                        <a  href="#" class="dica1">Trailer   |</a>
                        <a  href="#" class="dica1">Resumo   |</a>
                        <a href="#" class="dica1">Prêmios  |</a>
                        <a href="#" class="dica1">Comentários |</a>
                        <a href="#" class="dica1">Sinopse   |</a>
                        <a href="#" class="dica1">Guia Parental</a>
                    </li>
                </ul>
            </nav>

            <div class="botoes">
                <button type="button" class="btn btn-secondary">REPRODUZIR</button>
                <button type="button" class="btn btn-secondary">
                    <fa-icon class="fa-1x" [icon]="faArrowsAltH"></fa-icon>    
                </button>
                <button type="button" class="btn btn-secondary">CACHE</button>
                <button type="button" class="btn btn-secondary">SIMILARES</button>
                <button type="button" class="btn btn-secondary"> + FAVORITOS</button>
                <button type="button" class="btn btn-secondary">AVALIAR</button>
            </div>

            

        </div>
    </div>

        <div class="temp">
            <div class="buttons">
            <p>Dom e a tripulação devem enfrentar um terrorista internacional que acaba por der o irmão distante de dom e mia.</p>
           
            </div>

            <div class="conect">
                <p>
                    <fa-icon class="quad1" [icon]="faSquare"></fa-icon> 
                    Conectado</p>
                <p>
                    <fa-icon class="quad2" [icon]="faSquare"></fa-icon> 
                    Não Conectado</p>
                <p>
                    <fa-icon class="quad3" [icon]="faSquare"></fa-icon> 
                    Em Breve</p>
            </div>
        </div>

</div>


