
<div class="container-principal">
    <div class="div-imagem">
        <img class="card-img-top img" src="./assets/img/titans1.jpg" alt="titans">
    </div>
    <div class=" card div-especificacoes">

        <div class="card-body">
            <div class="title">
                <h1 class="card-title">Titãs</h1>
                <h1 class="card-title1">
                    <fa-icon [icon]="faStar"></fa-icon>
                    7.0
                </h1>
            </div>

            <div class="textos">
                <p class="card-text">tt10430813</p>
                <p class="card-text">Também conhecido como: Titãs</p>
            </div>
            <div class="tipo">
                <button type="button" class="btn btn-outline-warning">Ação</button>
                <button type="button" class="btn btn-outline-warning">Aventura</button>
                <button type="button" class="btn btn-outline-warning">Crime</button> 
                <button type="button" class="btn btn-outline-warning">Drama</button> 
                <button type="button" class="btn btn-outline-warning">Fantasia</button> 
                <button type="button" class="btn btn-outline-warning">Sci-fi</button>   
            </div>


            <div class="descricao">
                <div class="desc">
                    <p class="card-text1">País: EUA</p>
                    <p class="card-text1">Duração: 45min</p>
                    <p class="card-text1">Faixa etária: 18(BR)</p>
                </div>

                <div class="desc">
                    <p class="card-text">Idioma: Ingles</p>
                    <p class="card-text">Lançamento: 11-09-2019 (BR)</p>
                    <p class="card-text">Diretor: Akiva Golsman, Alan Richson</p>
                </div>

            </div>
            <p class="card-text1">Elenco: Brenton Thwaites, Anna Diop, Teagan Croft, Ryan Potter...</p>


            <nav>
                <ul>
                    <li class="dica">
                        <a  href="#" class="dica1">Trailer   |</a>
                        <a  href="#" class="dica1">Resumo   |</a>
                        <a href="#" class="dica1">Prêmios  |</a>
                        <a href="#" class="dica1">Comentários |</a>
                        <a href="#" class="dica1">Sinopse   |</a>
                        <a href="#" class="dica1">Guia Parental</a>
                    </li>
                </ul>
            </nav>

            <div class="botoes">
                <button type="button" class="btn btn-secondary">REPRODUZIR</button>
                <button type="button" class="btn btn-secondary">
                    <fa-icon class="fa-1x" [icon]="faArrowsAltH"></fa-icon>    
                </button>
                <button type="button" class="btn btn-secondary">CACHE</button>
                <button type="button" class="btn btn-secondary">SIMILARES</button>
                <button type="button" class="btn btn-secondary"> + FAVORITOS</button>
                <button type="button" class="btn btn-secondary">AVALIAR</button>
            </div>

            

        </div>
    </div>

        <div class="temp">
            <div class="buttons">
            <p>Temporadas:</p>
           <button type="button" class="btn btn-secondary">
            <fa-icon  [icon]="faPlay"></fa-icon>
            3°</button>
           <button type="button" class="btn btn-secondary">
            <fa-icon [icon]="faPlay"></fa-icon>   
            2°</button>
           <button type="button" class="btn btn-secondary">
            <fa-icon  [icon]="faPlay"></fa-icon>   
            1°</button>
            </div>

            <div class="conect">
                <p>
                    <fa-icon class="quad1" [icon]="faSquare"></fa-icon> 
                    Conectado</p>
                <p>
                    <fa-icon class="quad2" [icon]="faSquare"></fa-icon> 
                    Não Conectado</p>
                <p>
                    <fa-icon class="quad3" [icon]="faSquare"></fa-icon> 
                    Em Breve</p>
            </div>
        </div>

</div>

