<header class="header">
    <img alt="Logo MFC"  src="./assets/img/mfc.png" class="logo" />
    <img alt="sinal wi-fi"  src="./assets/img/wifi1.png" class="logo" />
    <nav class="nav">
        <ul class="lista">
            <li class="botao1" >
                <button type="button" class="btn btn-success botao">Mensal Básico: 20/08/2021</button>
             </li>
            <li class="itens">
               15:15
            </li>
            <li class="itens">
               BR
            </li>
        </ul>
    </nav>
</header>
<header class="header">
    <nav class="container">
        <ul class="container">
            <li class="menu"  >
                <button type="button" class="btn btn-success btn1 ">Recomendações</button>
             </li>
             <li class="menu" >
                <button type="button" class="btn btn-success btn1 ">Games</button>
              </li>
            <li class="menu">
                <button type="button" class="btn btn-success btn1 ">Crianças</button>
            </li>
            <li class="menu">
                <button type="button" class="btn btn-success btn1 ">Filmes</button>
            </li>
            <li class="menu">
                <button type="button" class="btn btn-success btn1 ">Séries</button>
             </li>
             <li class="menu">
                <button type="button" class="btn btn-success btn1 ">Descobrir</button>
             </li>
        </ul>
    </nav>
</header>





<footer>
    <div class="cont2"> 
        <img alt="Sword Art Online Chamada"  src="./assets/img/sao.png" class="sao" />
    </div>
    <div class="cont3">
        <fa-icon class="fa-2x"  [icon]="faUserCircle"></fa-icon> 
        <fa-icon class="fa-2x"  [icon]="faDollarSign"></fa-icon>
        <fa-icon class="fa-2x"  [icon]="faSearch"></fa-icon> 
        <fa-icon class="fa-2x"  [icon]="faEnvelope"></fa-icon> 
        <fa-icon class="fa-2x"  [icon]="faCog"></fa-icon> 
        </div>  
</footer>
