<div class="cont">

    <div class="menu">
        <h5 class="font-menu">Top 10: Filmes</h5>
        <h5 class="font-menu">Top 10: Séries</h5>
        <h5 class="font-menu">Top 10: Ficção cientifica</h5>
        <h5 class="font-menu">Top 10: Comédia</h5>
        <h5 class="font-menu">Top 10: Ação</h5>
        <h5 class="font-menu">Top 10: Romance</h5>
    </div>


   <div class="cards">
    <div class="card" >
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card">
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
   </div> 



 


</div>
