<div class="cont">

<div class="header">
  <img alt="Logo MFC"  src="./assets/img/mfc.png" class="logo" />
  <fa-icon class="fa-2x wifi" [icon]="faWifi"></fa-icon>

</div>

  
    <div class="menu">
        <h5 class="font-menu">Top 10: Filmes</h5>
        <h5 class="font-menu">Top 10: Séries</h5>
        <h5 class="font-menu">Top 10: Ficção cientifica</h5>
        <h5 class="font-menu">Top 10: Comédia</h5>
        <h5 class="font-menu">Top 10: Ação</h5>
        <h5 class="font-menu">Top 10: Romance</h5>
    </div>


   <div class="cards">
    <div class="card" >
        <img class="card-img-top img1" src="./assets/img/f9banner.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/lucca.jpg" alt="Space Jam">
      </div>
      <div class="card">
        <img class="card-img-top img1" src="./assets/img/cruella.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/mk.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/hp.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/coco.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/ps.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/malevola.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/miranha.jpg" alt="Space Jam">
      </div>
      <div class="card" >
        <img class="card-img-top img1" src="./assets/img/titans1.jpg" alt="Space Jam">
      </div>
   </div> 



 


</div>
